<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pear Technology</title>

    <link th:href="@{/style/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/style/css/commons.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--<div class="container">-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--        <a class="navbar-brand" th:href="@{/user}" th:text="${user.username}">Username</a>-->
    <!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--            <span class="navbar-toggler-icon"></span>-->
    <!--        </button>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" th:href="@{/user}" th:text="${user.roles}">Role<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" th:href="@{/user}" th:text="${user.username}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/inbox}">Inbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/today}">Today</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/user/done}">Done</a>
            </li>
            <!--                <th:block th:if=""></th:block>-->
            <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/admin/users}">User list</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>
<!--</div>-->
</body>
</html>