<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pear Technology</title>

    <link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/resources/css/commons.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <form th:action="@{/resetPassword}" class="form-signin" method="post">
        <!--          th:object="${user}"-->
        <h2 class="form-signin-heading" th:text="#{label.login}">Log in</h2>
        <div class="form-group">
            <input name="email" type="email" class="form-control" th:attr="placeholder=#{label.email}" autofocus="true"/>
        </div>

        <button class="btn btn-lg btn-block btn-info" th:text="#{label.reset.password}" type="submit">Reset password</button>

    </form>
</div>
</body>
</html>